
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .text-gradient-gold {
    @apply bg-gradient-to-r from-yellow-600 to-yellow-400 bg-clip-text text-transparent;
  }
  
  .text-gradient-green {
    @apply bg-gradient-to-r from-green-800 to-green-600 bg-clip-text text-transparent;
  }
  
  .animate-delay-100 {
    animation-delay: 100ms;
  }
  
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  
  .animate-delay-300 {
    animation-delay: 300ms;
  }
  
  .animate-delay-400 {
    animation-delay: 400ms;
  }
  
  .animate-delay-500 {
    animation-delay: 500ms;
  }
  
  .animate-delay-600 {
    animation-delay: 600ms;
  }
  
  .animate-delay-700 {
    animation-delay: 700ms;
  }
  
  .animate-delay-800 {
    animation-delay: 800ms;
  }
  
  .mask-gradient-r {
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
  }
  
  .mask-gradient-b {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}
